*   {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

header  {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

section {
    padding-top: 110px;
}

.header-image   {
    width: 100px;
    height: 80px;

}

#header {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

    background-color: #f5f5f5;
}

#header a{
    color: rgb(238, 48, 48);
    font-size: 20px;
    font-weight: 700;
}

#header li a  {
    color: #1c1c1c;
    font-weight: 700;
    font-size: 15px;
    
}

.navbar-header  {
    display: flex;
    list-style: none;
}

.navbar-header li   {
    position: relative;
    padding: 15px 30px;
}

.navbar-header a    {
    font-weight: 700;
    padding: 10px 20px;
}

.navbar-header a::after{
	content: '';
	position: absolute;
	width: 0%;
	height: 3px;
	background: rgb(238, 48, 48);
	bottom: 0px;
	left: 0;
	transition: ease-in-out .40s;
}

.navbar-header a:hover::after   {
	width: 100%;
}

#navbar-icon    {
	font-size: 25px;
	color: rgb(238, 48, 48);
	z-index: 11;
	display: none;
}

.fa-brands {
    font-size: 22px;
    padding: 10px
}

header.sticky   {
    background: rgb(255, 255, 255, 0.8);
    padding: 5px 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.content-section    {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 500px; 
    padding: 70px; 
    margin-top: 120px;

}

.about-project  {
    display: flex;
    width: 80%;
    gap: 15px;

    margin-left: 150px;
    
}

.project-text   {
    display: flex;
    flex-direction: column;
    flex: 2; 
    padding: 90px; 
    border: 1px solid #ddd; 
    margin-left: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background:  rgb(238, 48, 48);
}

.project-text h2  {
    color: #fff;
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 27px;
}

.project-text p {
    font-size: 15px;
    font-weight: 800;
    color: #fff;
    text-align: justify;
}


.games-text {
    text-align: center;
    color: #1c1c1c;
    margin-top: 15px;
    margin-bottom: 50px;
    cursor: pointer;
    padding: 20px;
    font-size: 26px;
}

.games-items   {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 2rem;
}

.game-item  {
    flex: 1 1 200px;
    max-width: 300px;
    padding: 60px;
    margin: 10px; 
    text-align: center;
    transition: ease .50s;
    border-radius: 10px;
    cursor: pointer;
}

.game-item-img  img{
    max-width: 100%;
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

.game-item h3   {
    font-size: 20px;
    margin-bottom: 20px;
}

.game-item p    {
    font-size: 15px;
    color: #1c1c1c;
    line-height: 25px;
}

.game-item:hover    {
    background: #fff;
	box-shadow: 40px 0 100px 0 rgb(10 10 70 / 10%);
	border-radius: 10px;
	will-change: transform;
	transform: perspective(1000px) rotateX(4.80deg) rotateY(10.2deg) scale3d(1.0, 1.0, 1.0);
}

#about-us {
    display: flex;
    margin-top: 20px;
    margin-bottom: 90px;
}

.about {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 100%;
    height: 500px;
    gap: 12px;
    padding: 40px 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.about-us-text {
    flex: 0 0 60%;
    box-sizing: border-box;
    padding: 75px;
    background-color: rgb(238, 48, 48);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.about-us-text h3   {
    color: #fff;
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 10px;
}

.about-us-text p {
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    text-align: justify;
}

.about-us-slide {
    flex: 0 0 35%; 
    box-sizing: border-box;
}

#join-us    {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    max-width: 57%;
    margin: 0 auto;
    margin-bottom: 60px;
    border-radius: 12px;
    background-color: purple;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.join-us-text   {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;

    background: purple;
    color: #fff;
}

.join-us-text h2    {
    font-weight: 700;
    font-size: 35px;
}

.join-us-tex h3 {
    font-weight: 700;

}

.join-us-button p   {
    padding: 15px 45px;
    border: 1px solid  #fff;
    transition: ease-in-out 0.5s;
    cursor: pointer;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    background-color: rgb(238, 48, 48);
}

.join-us-button p:hover    {
    background-color: #FF6347;
    transform: scale(1.1);
    color: #fff;
}

.join-us-button {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    height: 60%; 
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#signup-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    width: 80%;
}

#signup-form label {
    text-align: right;
    margin-bottom: 0;
    color: #1c1c1c; 
}

#signup-form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc; 
}

#signup-form input[type="submit"] {
    width: 50%; 
    background-color: rgb(238, 48, 48);
    color: #fff;
    cursor: pointer;
    border: none;
}

#signup-form input[type="submit"]:hover {
    background-color: #FF6347;
}

.btn-crud   {
    display: flex;
    width: 100%;
    justify-content: center;
}